$blue-100 : #00B9EF;
$blue-200 : #0091EB;
$blue-500 : #00428E;
$blue-700 : #02203A;
$yellow-100 : #F8DF08;
$yellow-200 : #f5a200;
$orange-100 : #F5A200;
$blue-grey : #DAE5F2;
$gray-100 : #708496;
$gray-200 : #F7FBFF;
$gray-300 : #DAE5F2;
$red-100 : #E9473F;